<h1>iSEEu</h1>
<body>
<form action="login" method="get">

<input type="submit" value="Login"/>

</form>

<form action="signup" method="get">

<input type="submit" value="Sign Up"/>

</form>


</body>
